<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywGroup.ieCloud.wenZhouIntelligentGas.dao.DeliverCarLocationMapper" >
  <resultMap id="BaseResultMap" type="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.DeliverCarLocation" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="deliver_car_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="task_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="timestamp" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="latitude" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="longitude" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, deliver_car_id, task_id, timestamp, latitude, longitude
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from deliver_car_location
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from deliver_car_location
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.DeliverCarLocation" >
    insert into deliver_car_location (id, deliver_car_id, task_id, 
      timestamp, latitude, longitude
      )
    values (#{id,jdbcType=INTEGER}, #{deliverCarId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, 
      #{timestamp,jdbcType=TIMESTAMP}, #{latitude,jdbcType=DECIMAL}, #{longitude,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.DeliverCarLocation" >
    insert into deliver_car_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deliverCarId != null" >
        deliver_car_id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deliverCarId != null" >
        #{deliverCarId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.DeliverCarLocation" >
    update deliver_car_location
    <set >
      <if test="deliverCarId != null" >
        deliver_car_id = #{deliverCarId,jdbcType=INTEGER},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
      <if test="timestamp != null" >
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.DeliverCarLocation" >
    update deliver_car_location
    set deliver_car_id = #{deliverCarId,jdbcType=INTEGER},
      task_id = #{taskId,jdbcType=INTEGER},
      timestamp = #{timestamp,jdbcType=TIMESTAMP},
      latitude = #{latitude,jdbcType=DECIMAL},
      longitude = #{longitude,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="select" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM deliver_car_location
    WHERE 1=1
    <if test="deliverCarId != 0" >
      AND deliver_car_id = #{deliverCarId}
    </if>
    <if test="beginTime!=null and endTime!=null">
      AND timestamp BETWEEN #{beginTime} AND #{endTime}
    </if>
  </select>
</mapper>