<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywGroup.ieCloud.wenZhouIntelligentGas.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.Department" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="department_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="department_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="child_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="parent_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="depth_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="is_delete" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, department_number, department_name, child_count, parent_number, depth_number, 
    is_delete, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.Department" >
    insert into system_department (id, department_number, department_name, 
      child_count, parent_number, depth_number, 
      is_delete, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{departmentNumber,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR}, 
      #{childCount,jdbcType=INTEGER}, #{parentNumber,jdbcType=VARCHAR}, #{depthNumber,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.Department" >
    insert into system_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="departmentNumber != null" >
        department_number,
      </if>
      <if test="departmentName != null" >
        department_name,
      </if>
      <if test="childCount != null" >
        child_count,
      </if>
      <if test="parentNumber != null" >
        parent_number,
      </if>
      <if test="depthNumber != null" >
        depth_number,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="departmentNumber != null" >
        #{departmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="childCount != null" >
        #{childCount,jdbcType=INTEGER},
      </if>
      <if test="parentNumber != null" >
        #{parentNumber,jdbcType=VARCHAR},
      </if>
      <if test="depthNumber != null" >
        #{depthNumber,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
      <if test="updateTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.Department" >
    update system_department
    <set >
      <if test="departmentNumber != null" >
        department_number = #{departmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="childCount != null" >
        child_count = #{childCount,jdbcType=INTEGER},
      </if>
      <if test="parentNumber != null" >
        parent_number = #{parentNumber,jdbcType=VARCHAR},
      </if>
      <if test="depthNumber != null" >
        depth_number = #{depthNumber,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = now(),
      </if>
      <if test="updateTime != null" >
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.Department" >
    update system_department
    set department_number = #{departmentNumber,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      child_count = #{childCount,jdbcType=INTEGER},
      parent_number = #{parentNumber,jdbcType=VARCHAR},
      depth_number = #{depthNumber,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=INTEGER},
      create_time = now(),
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>