<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywGroup.ieCloud.wenZhouIntelligentGas.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.Department" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="department_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="department_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parent_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="is_delete" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, department_number, department_name, parent_number, is_delete, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.Department" >
    insert into system_department (id, department_number, department_name, 
      parent_number, is_delete, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{departmentNumber,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR}, 
      #{parentNumber,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.Department" >
    insert into system_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="departmentNumber != null" >
        department_number,
      </if>
      <if test="departmentName != null" >
        department_name,
      </if>
      <if test="parentNumber != null" >
        parent_number,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="departmentNumber != null" >
        #{departmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="parentNumber != null" >
        #{parentNumber,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.Department" >
    update system_department
    <set >
      <if test="departmentNumber != null" >
        department_number = #{departmentNumber,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="parentNumber != null" >
        parent_number = #{parentNumber,jdbcType=VARCHAR},
      </if>
        update_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.Department" >
    update system_department
    set department_number = #{departmentNumber,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      parent_number = #{parentNumber,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectDepartments" resultMap="BaseResultMap" parameterType="string">
    SELECT
    <include refid="Base_Column_List"/>
    FROM system_department
    WHERE 1=1
    <if test="departmentName!=''">
      AND department_name = #{departmentName}
    </if>
  </select>

  <select id="selectByParentNumbet" parameterType="string" resultType="int">
    SELECT COUNT(1)
    FROM system_department
    WHERE parent_number = #{departmentNumber}
  </select>

  <delete id="deleteByDepartmentNumber" parameterType="string" >
    DELETE FROM system_department
    WHERE department_number = #{departmentNumber}
  </delete>

  <select id="selectByDepartmentNumber" parameterType="string" resultType="string">
    SELECT department_name
    FROM system_department
    WHERE department_number = #{departmentNumber}
  </select>
  
  <select id="selectID" resultType="int">
    SELECT MAX(id)
    FROM system_department;
  </select>

  <select id="checkByNumber" resultType="int" parameterType="string">
    SELECT count(1)
    FROM system_department
    WHERE department_number = #{departmentNumber}
  </select>

  <select id="selectParentName" parameterType="string" resultType="string">
    SELECT department_name
    FROM system_department
    WHERE department_number = #{parentName}
  </select>
</mapper>