<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywGroup.ieCloud.wenZhouIntelligentGas.dao.DistributionCarMapper" >
  <resultMap id="BaseResultMap" type="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.DistributionCar" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="car_serial_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="responsible_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="responsible_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gps_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, car_serial_number, detail, responsible_id, responsible_name, gps_id, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from distribution_car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from distribution_car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.DistributionCar" >
    insert into distribution_car (car_serial_number, detail,
      responsible_id, responsible_name, gps_id, 
      create_time, update_time)
    values (#{carSerialNumber,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR},
      #{responsibleId,jdbcType=INTEGER}, #{responsibleName,jdbcType=VARCHAR}, #{gpsId,jdbcType=INTEGER}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.DistributionCar" >
    insert into distribution_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carSerialNumber != null" >
        car_serial_number,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="responsibleId != null" >
        responsible_id,
      </if>
      <if test="responsibleName != null" >
        responsible_name,
      </if>
      <if test="gpsId != null" >
        gps_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carSerialNumber != null" >
        #{carSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="responsibleId != null" >
        #{responsibleId,jdbcType=INTEGER},
      </if>
      <if test="responsibleName != null" >
        #{responsibleName,jdbcType=VARCHAR},
      </if>
      <if test="gpsId != null" >
        #{gpsId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.DistributionCar" >
    update distribution_car
    <set >
      <if test="carSerialNumber != null" >
        car_serial_number = #{carSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="responsibleId != null" >
        responsible_id = #{responsibleId,jdbcType=INTEGER},
      </if>
      <if test="responsibleName != null" >
        responsible_name = #{responsibleName,jdbcType=VARCHAR},
      </if>
      <if test="gpsId != null" >
        gps_id = #{gpsId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.DistributionCar" >
    update distribution_car
    set car_serial_number = #{carSerialNumber,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      responsible_id = #{responsibleId,jdbcType=INTEGER},
      responsible_name = #{responsibleName,jdbcType=VARCHAR},
      gps_id = #{gpsId,jdbcType=INTEGER},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>