<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywGroup.ieCloud.wenZhouIntelligentGas.dao.GasBottleManagerMapper" >
  <resultMap id="BaseResultMap" type="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.GasBottleManager" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="own_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cylinder_barcode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="property_rights" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="property_unit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="manufacturing_unit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="landing_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="use_the_registration_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="serial_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="year_of_manufacture" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="filling_media" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cylinder_model" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="equipment_variety" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="last_inspection_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="next_inspection_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="cylinder_status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="inspection_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="original_weight" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="volume" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="design_wall_thickness" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="pressure_test_pressure" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="nominal_operating_pressure" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="administrative_region" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, own_number, cylinder_barcode, property_rights, property_unit, manufacturing_unit, 
    landing_date, use_the_registration_code, serial_number, year_of_manufacture, filling_media, 
    cylinder_model, equipment_variety, last_inspection_date, next_inspection_date, cylinder_status, 
    inspection_number, original_weight, volume, design_wall_thickness, pressure_test_pressure, 
    nominal_operating_pressure, administrative_region
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from gas_bottle_manager
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gas_bottle_manager
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.GasBottleManager" >
    insert into gas_bottle_manager (id, own_number, cylinder_barcode, 
      property_rights, property_unit, manufacturing_unit, 
      landing_date, use_the_registration_code, serial_number, 
      year_of_manufacture, filling_media, cylinder_model, 
      equipment_variety, last_inspection_date, next_inspection_date, 
      cylinder_status, inspection_number, original_weight, 
      volume, design_wall_thickness, pressure_test_pressure, 
      nominal_operating_pressure, administrative_region
      )
    values (#{id,jdbcType=BIGINT}, #{ownNumber,jdbcType=VARCHAR}, #{cylinderBarcode,jdbcType=VARCHAR}, 
      #{propertyRights,jdbcType=VARCHAR}, #{propertyUnit,jdbcType=VARCHAR}, #{manufacturingUnit,jdbcType=VARCHAR}, 
      #{landingDate,jdbcType=DATE}, #{useTheRegistrationCode,jdbcType=VARCHAR}, #{serialNumber,jdbcType=VARCHAR}, 
      #{yearOfManufacture,jdbcType=DATE}, #{fillingMedia,jdbcType=VARCHAR}, #{cylinderModel,jdbcType=VARCHAR}, 
      #{equipmentVariety,jdbcType=VARCHAR}, #{lastInspectionDate,jdbcType=DATE}, #{nextInspectionDate,jdbcType=DATE}, 
      #{cylinderStatus,jdbcType=VARCHAR}, #{inspectionNumber,jdbcType=VARCHAR}, #{originalWeight,jdbcType=REAL}, 
      #{volume,jdbcType=REAL}, #{designWallThickness,jdbcType=REAL}, #{pressureTestPressure,jdbcType=REAL}, 
      #{nominalOperatingPressure,jdbcType=REAL}, #{administrativeRegion,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.GasBottleManager" >
    insert into gas_bottle_manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ownNumber != null" >
        own_number,
      </if>
      <if test="cylinderBarcode != null" >
        cylinder_barcode,
      </if>
      <if test="propertyRights != null" >
        property_rights,
      </if>
      <if test="propertyUnit != null" >
        property_unit,
      </if>
      <if test="manufacturingUnit != null" >
        manufacturing_unit,
      </if>
      <if test="landingDate != null" >
        landing_date,
      </if>
      <if test="useTheRegistrationCode != null" >
        use_the_registration_code,
      </if>
      <if test="serialNumber != null" >
        serial_number,
      </if>
      <if test="yearOfManufacture != null" >
        year_of_manufacture,
      </if>
      <if test="fillingMedia != null" >
        filling_media,
      </if>
      <if test="cylinderModel != null" >
        cylinder_model,
      </if>
      <if test="equipmentVariety != null" >
        equipment_variety,
      </if>
      <if test="lastInspectionDate != null" >
        last_inspection_date,
      </if>
      <if test="nextInspectionDate != null" >
        next_inspection_date,
      </if>
      <if test="cylinderStatus != null" >
        cylinder_status,
      </if>
      <if test="inspectionNumber != null" >
        inspection_number,
      </if>
      <if test="originalWeight != null" >
        original_weight,
      </if>
      <if test="volume != null" >
        volume,
      </if>
      <if test="designWallThickness != null" >
        design_wall_thickness,
      </if>
      <if test="pressureTestPressure != null" >
        pressure_test_pressure,
      </if>
      <if test="nominalOperatingPressure != null" >
        nominal_operating_pressure,
      </if>
      <if test="administrativeRegion != null" >
        administrative_region,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ownNumber != null" >
        #{ownNumber,jdbcType=VARCHAR},
      </if>
      <if test="cylinderBarcode != null" >
        #{cylinderBarcode,jdbcType=VARCHAR},
      </if>
      <if test="propertyRights != null" >
        #{propertyRights,jdbcType=VARCHAR},
      </if>
      <if test="propertyUnit != null" >
        #{propertyUnit,jdbcType=VARCHAR},
      </if>
      <if test="manufacturingUnit != null" >
        #{manufacturingUnit,jdbcType=VARCHAR},
      </if>
      <if test="landingDate != null" >
        #{landingDate,jdbcType=DATE},
      </if>
      <if test="useTheRegistrationCode != null" >
        #{useTheRegistrationCode,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="yearOfManufacture != null" >
        #{yearOfManufacture,jdbcType=DATE},
      </if>
      <if test="fillingMedia != null" >
        #{fillingMedia,jdbcType=VARCHAR},
      </if>
      <if test="cylinderModel != null" >
        #{cylinderModel,jdbcType=VARCHAR},
      </if>
      <if test="equipmentVariety != null" >
        #{equipmentVariety,jdbcType=VARCHAR},
      </if>
      <if test="lastInspectionDate != null" >
        #{lastInspectionDate,jdbcType=DATE},
      </if>
      <if test="nextInspectionDate != null" >
        #{nextInspectionDate,jdbcType=DATE},
      </if>
      <if test="cylinderStatus != null" >
        #{cylinderStatus,jdbcType=VARCHAR},
      </if>
      <if test="inspectionNumber != null" >
        #{inspectionNumber,jdbcType=VARCHAR},
      </if>
      <if test="originalWeight != null" >
        #{originalWeight,jdbcType=REAL},
      </if>
      <if test="volume != null" >
        #{volume,jdbcType=REAL},
      </if>
      <if test="designWallThickness != null" >
        #{designWallThickness,jdbcType=REAL},
      </if>
      <if test="pressureTestPressure != null" >
        #{pressureTestPressure,jdbcType=REAL},
      </if>
      <if test="nominalOperatingPressure != null" >
        #{nominalOperatingPressure,jdbcType=REAL},
      </if>
      <if test="administrativeRegion != null" >
        #{administrativeRegion,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.GasBottleManager" >
    update gas_bottle_manager
    <set >
      <if test="ownNumber != null" >
        own_number = #{ownNumber,jdbcType=VARCHAR},
      </if>
      <if test="cylinderBarcode != null" >
        cylinder_barcode = #{cylinderBarcode,jdbcType=VARCHAR},
      </if>
      <if test="propertyRights != null" >
        property_rights = #{propertyRights,jdbcType=VARCHAR},
      </if>
      <if test="propertyUnit != null" >
        property_unit = #{propertyUnit,jdbcType=VARCHAR},
      </if>
      <if test="manufacturingUnit != null" >
        manufacturing_unit = #{manufacturingUnit,jdbcType=VARCHAR},
      </if>
      <if test="landingDate != null" >
        landing_date = #{landingDate,jdbcType=DATE},
      </if>
      <if test="useTheRegistrationCode != null" >
        use_the_registration_code = #{useTheRegistrationCode,jdbcType=VARCHAR},
      </if>
      <if test="serialNumber != null" >
        serial_number = #{serialNumber,jdbcType=VARCHAR},
      </if>
      <if test="yearOfManufacture != null" >
        year_of_manufacture = #{yearOfManufacture,jdbcType=DATE},
      </if>
      <if test="fillingMedia != null" >
        filling_media = #{fillingMedia,jdbcType=VARCHAR},
      </if>
      <if test="cylinderModel != null" >
        cylinder_model = #{cylinderModel,jdbcType=VARCHAR},
      </if>
      <if test="equipmentVariety != null" >
        equipment_variety = #{equipmentVariety,jdbcType=VARCHAR},
      </if>
      <if test="lastInspectionDate != null" >
        last_inspection_date = #{lastInspectionDate,jdbcType=DATE},
      </if>
      <if test="nextInspectionDate != null" >
        next_inspection_date = #{nextInspectionDate,jdbcType=DATE},
      </if>
      <if test="cylinderStatus != null" >
        cylinder_status = #{cylinderStatus,jdbcType=VARCHAR},
      </if>
      <if test="inspectionNumber != null" >
        inspection_number = #{inspectionNumber,jdbcType=VARCHAR},
      </if>
      <if test="originalWeight != null" >
        original_weight = #{originalWeight,jdbcType=REAL},
      </if>
      <if test="volume != null" >
        volume = #{volume,jdbcType=REAL},
      </if>
      <if test="designWallThickness != null" >
        design_wall_thickness = #{designWallThickness,jdbcType=REAL},
      </if>
      <if test="pressureTestPressure != null" >
        pressure_test_pressure = #{pressureTestPressure,jdbcType=REAL},
      </if>
      <if test="nominalOperatingPressure != null" >
        nominal_operating_pressure = #{nominalOperatingPressure,jdbcType=REAL},
      </if>
      <if test="administrativeRegion != null" >
        administrative_region = #{administrativeRegion,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.GasBottleManager" >
    update gas_bottle_manager
    set own_number = #{ownNumber,jdbcType=VARCHAR},
      cylinder_barcode = #{cylinderBarcode,jdbcType=VARCHAR},
      property_rights = #{propertyRights,jdbcType=VARCHAR},
      property_unit = #{propertyUnit,jdbcType=VARCHAR},
      manufacturing_unit = #{manufacturingUnit,jdbcType=VARCHAR},
      landing_date = #{landingDate,jdbcType=DATE},
      use_the_registration_code = #{useTheRegistrationCode,jdbcType=VARCHAR},
      serial_number = #{serialNumber,jdbcType=VARCHAR},
      year_of_manufacture = #{yearOfManufacture,jdbcType=DATE},
      filling_media = #{fillingMedia,jdbcType=VARCHAR},
      cylinder_model = #{cylinderModel,jdbcType=VARCHAR},
      equipment_variety = #{equipmentVariety,jdbcType=VARCHAR},
      last_inspection_date = #{lastInspectionDate,jdbcType=DATE},
      next_inspection_date = #{nextInspectionDate,jdbcType=DATE},
      cylinder_status = #{cylinderStatus,jdbcType=VARCHAR},
      inspection_number = #{inspectionNumber,jdbcType=VARCHAR},
      original_weight = #{originalWeight,jdbcType=REAL},
      volume = #{volume,jdbcType=REAL},
      design_wall_thickness = #{designWallThickness,jdbcType=REAL},
      pressure_test_pressure = #{pressureTestPressure,jdbcType=REAL},
      nominal_operating_pressure = #{nominalOperatingPressure,jdbcType=REAL},
      administrative_region = #{administrativeRegion,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryGasBottleManager" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from gas_bottle_manager
    where 1=1
    <if test="cylinderBarcode != '' and cylinderBarcode != null" >
      and cylinder_barcode LIKE concat(concat('%',#{cylinderBarcode}),'%')
    </if>
    <if test="manufacturingUnit != '' and manufacturingUnit != null">
      AND manufacturing_unit like concat(concat('%',#{manufacturingUnit}),'%')
    </if>
    <if test="cylinderBarcode != '' and cylinderBarcode != null">
      AND cylinder_barcode LIke concat(concat('%',#{cylinderBarcode}),'%')
    </if>
    <if test="beginLandingDate != null and beginLandingDate != ''">
      AND landing_date &gt;= #{beginLandingDate}
    </if>
    <if test="endLandingDate != null and endLandingDate != ''">
      AND landing_date &lt;= #{endLandingDate}
    </if>
    <if test="beginLastInspectionDate != null and beginLastInspectionDate != ''">
      AND last_inspection_date &gt;= #{beginLastInspectionDate}
    </if>
    <if test="endLastInspectionDate != null and endLastInspectionDate != ''">
      AND last_inspection_date &lt;= #{endLastInspectionDate}
    </if>
    <if test="beginNextInspectionDate != null and beginNextInspectionDate != ''">
      AND next_inspection_date &gt;= #{beginNextInspectionDate}
    </if>
    <if test="endNextInspectionDate != null and endNextInspectionDate != ''">
      AND next_inspection_date &lt;= #{endNextInspectionDate}
    </if>
  </select>
</mapper>