<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywGroup.ieCloud.wenZhouIntelligentGas.dao.GasCylinderInformationMapper" >
  <resultMap id="BaseResultMap" type="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.GasCylinderInformation" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="cylinder_serial_number" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="production_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="scrapped_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="charging_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="cylinder_specification" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="serial_number_person_belonging" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name_person_belonging" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="serial_number_company_belonging" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name_company_belonging" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="serial_number_associated_order" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="location_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, cylinder_serial_number, production_date, scrapped_date, charging_date, cylinder_specification, 
    serial_number_person_belonging, name_person_belonging, serial_number_company_belonging, 
    name_company_belonging, serial_number_associated_order, location_id, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gas_cylinder_information
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gas_cylinder_information
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.GasCylinderInformation" >
    insert into gas_cylinder_information (cylinder_serial_number, production_date,
      scrapped_date, charging_date, cylinder_specification, 
      serial_number_person_belonging, name_person_belonging, 
      serial_number_company_belonging, name_company_belonging, 
      serial_number_associated_order, location_id, 
      create_time, update_time)
    values (#{cylinderSerialNumber,jdbcType=VARCHAR}, #{productionDate,jdbcType=TIMESTAMP},
      #{scrappedDate,jdbcType=TIMESTAMP}, #{chargingDate,jdbcType=TIMESTAMP}, #{cylinderSpecification,jdbcType=VARCHAR}, 
      #{serialNumberPersonBelonging,jdbcType=VARCHAR}, #{namePersonBelonging,jdbcType=VARCHAR}, 
      #{serialNumberCompanyBelonging,jdbcType=VARCHAR}, #{nameCompanyBelonging,jdbcType=TIMESTAMP}, 
      #{serialNumberAssociatedOrder,jdbcType=VARCHAR}, #{locationId,jdbcType=INTEGER}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.GasCylinderInformation" >
    insert into gas_cylinder_information
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cylinderSerialNumber != null" >
        cylinder_serial_number,
      </if>
      <if test="productionDate != null" >
        production_date,
      </if>
      <if test="scrappedDate != null" >
        scrapped_date,
      </if>
      <if test="chargingDate != null" >
        charging_date,
      </if>
      <if test="cylinderSpecification != null" >
        cylinder_specification,
      </if>
      <if test="serialNumberPersonBelonging != null" >
        serial_number_person_belonging,
      </if>
      <if test="namePersonBelonging != null" >
        name_person_belonging,
      </if>
      <if test="serialNumberCompanyBelonging != null" >
        serial_number_company_belonging,
      </if>
      <if test="nameCompanyBelonging != null" >
        name_company_belonging,
      </if>
      <if test="serialNumberAssociatedOrder != null" >
        serial_number_associated_order,
      </if>
      <if test="locationId != null" >
        location_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cylinderSerialNumber != null" >
        #{cylinderSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="productionDate != null" >
        #{productionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="scrappedDate != null" >
        #{scrappedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chargingDate != null" >
        #{chargingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cylinderSpecification != null" >
        #{cylinderSpecification,jdbcType=VARCHAR},
      </if>
      <if test="serialNumberPersonBelonging != null" >
        #{serialNumberPersonBelonging,jdbcType=VARCHAR},
      </if>
      <if test="namePersonBelonging != null" >
        #{namePersonBelonging,jdbcType=VARCHAR},
      </if>
      <if test="serialNumberCompanyBelonging != null" >
        #{serialNumberCompanyBelonging,jdbcType=VARCHAR},
      </if>
      <if test="nameCompanyBelonging != null" >
        #{nameCompanyBelonging,jdbcType=TIMESTAMP},
      </if>
      <if test="serialNumberAssociatedOrder != null" >
        #{serialNumberAssociatedOrder,jdbcType=VARCHAR},
      </if>
      <if test="locationId != null" >
        #{locationId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.GasCylinderInformation" >
    update gas_cylinder_information
    <set >
      <if test="cylinderSerialNumber != null" >
        cylinder_serial_number = #{cylinderSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="productionDate != null" >
        production_date = #{productionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="scrappedDate != null" >
        scrapped_date = #{scrappedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="chargingDate != null" >
        charging_date = #{chargingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cylinderSpecification != null" >
        cylinder_specification = #{cylinderSpecification,jdbcType=VARCHAR},
      </if>
      <if test="serialNumberPersonBelonging != null" >
        serial_number_person_belonging = #{serialNumberPersonBelonging,jdbcType=VARCHAR},
      </if>
      <if test="namePersonBelonging != null" >
        name_person_belonging = #{namePersonBelonging,jdbcType=VARCHAR},
      </if>
      <if test="serialNumberCompanyBelonging != null" >
        serial_number_company_belonging = #{serialNumberCompanyBelonging,jdbcType=VARCHAR},
      </if>
      <if test="nameCompanyBelonging != null" >
        name_company_belonging = #{nameCompanyBelonging,jdbcType=TIMESTAMP},
      </if>
      <if test="serialNumberAssociatedOrder != null" >
        serial_number_associated_order = #{serialNumberAssociatedOrder,jdbcType=VARCHAR},
      </if>
      <if test="locationId != null" >
        location_id = #{locationId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.GasCylinderInformation" >
    update gas_cylinder_information
    set cylinder_serial_number = #{cylinderSerialNumber,jdbcType=VARCHAR},
      production_date = #{productionDate,jdbcType=TIMESTAMP},
      scrapped_date = #{scrappedDate,jdbcType=TIMESTAMP},
      charging_date = #{chargingDate,jdbcType=TIMESTAMP},
      cylinder_specification = #{cylinderSpecification,jdbcType=VARCHAR},
      serial_number_person_belonging = #{serialNumberPersonBelonging,jdbcType=VARCHAR},
      name_person_belonging = #{namePersonBelonging,jdbcType=VARCHAR},
      serial_number_company_belonging = #{serialNumberCompanyBelonging,jdbcType=VARCHAR},
      name_company_belonging = #{nameCompanyBelonging,jdbcType=TIMESTAMP},
      serial_number_associated_order = #{serialNumberAssociatedOrder,jdbcType=VARCHAR},
      location_id = #{locationId,jdbcType=INTEGER},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>