<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ywGroup.ieCloud.wenZhouIntelligentGas.dao.SupervisionMapper" >
  <resultMap id="BaseResultMap" type="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.activitipo.Supervision" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="process_instance_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="details" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="plan" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="result" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, process_instance_id, user_id, details, plan, result, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from supervision
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from supervision
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.activitipo.Supervision"
    keyProperty="id" useGeneratedKeys="true">
    insert into supervision (id, process_instance_id, user_id, 
      details, plan, result, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{processInstanceId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{details,jdbcType=VARCHAR}, #{plan,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, 
     now())
  </insert>
  <insert id="insertSelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.activitipo.Supervision" >
    insert into supervision
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="processInstanceId != null" >
        process_instance_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="plan != null" >
        plan,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="processInstanceId != null" >
        #{processInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="plan != null" >
        #{plan,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.activitipo.Supervision" >
    update supervision
    <set >
      <if test="processInstanceId != null" >
        process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="plan != null" >
        plan = #{plan,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ywGroup.ieCloud.wenZhouIntelligentGas.pojo.activitipo.Supervision" >
    update supervision
    set process_instance_id = #{processInstanceId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      details = #{details,jdbcType=VARCHAR},
      plan = #{plan,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updatePlanByProsessid" parameterType="map">
    UPDATE supervision
    SET plan = #{plan}
    where process_instance_id = #{processid}
  </update>

  <update id="updateResultByProsessid" parameterType="map">
    UPDATE supervision
    SET result = #{result}
    where process_instance_id = #{processid}
  </update>

  <select id="selectUseridByProsessid" resultType="int" parameterType="string">
    SELECT user_id
    FROM supervision
    WHERE process_instance_id = #{processid}
  </select>
</mapper>